/* Contact Section */
.contact-container {
  background-color: #f75119;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  background-color: #e33900;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: relative;
}

.contact-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  grid-column: 1 / 3;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: #333;
}

textarea {
  grid-column: 1 / 3;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  resize: none;
  font-size: 16px;
  color: #333;
}

.btn {
  grid-column: 1 / 3;
  background-color: #333;
  color: #FFF2F2;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background-color: #FFF2F2;
  color: #333;
  box-shadow: 0 0 10px #FFF2F2;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover:before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.contact-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  z-index: -1;
}

.contact-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 50% 50%, #f47c31 0%, #ff9f20 100%);
  border-radius: 10px;
  z-index: -2;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: #f86216;
  padding: 20px;
  color: #FFF2F2;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand {
  color: #FFF2F2;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  color: #FFF2F2;
}

.nav-link:hover::after,
.nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #FFF2F2;
  animation: underline 0.3s ease-in-out forwards;
}

/* Animation */
@keyframes underline {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}
.team-container {
  background-color: #ffb011;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-member-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  background-color: #f89832;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex: 0 0 calc(30% - 40px);
  max-width: calc(30% - 40px);
}

.team-member-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto 20px;
}

.team-member h3 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #fff;
}

.team-member p {
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.insta-image {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  object-fit: cover;
  margin-left: 5px;
  vertical-align: middle;
}

.bottom{
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 4px;
}
.footer {
  background-color: #f76802;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}